In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\gokulreddy\anaconda3\lib\site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\gokulreddy\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\gokulreddy\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in c:\users\gokulreddy\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\gokulreddy\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pandas as pd
import numpy as np

Series -- one dimensional, has index for each element
Dataframe -- collection of series ( column wise )

In [7]:
df = pd.read_csv(filepath_or_buffer='./Downloads/ExerciseFiles/data/olympics.csv',skiprows=4)

In [8]:
df

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [9]:
df.shape
df.info()

(29216, 10)

In [31]:
testing = pd.Series([1,2,3,4,4,None,np.nan])
#df['City'].value_counts()
testing.value_counts(dropna=False)

4.0    2
NaN    2
1.0    1
2.0    1
3.0    1
dtype: int64

In [34]:
df['Sport'].sort_index()   # sorts by index 
df['Sport'].sort_values()  # sorts by values

0         Aquatics
1         Aquatics
2         Aquatics
3         Aquatics
4         Aquatics
           ...
29211    Wrestling
29212    Wrestling
29213    Wrestling
29214    Wrestling
29215    Wrestling
Name: Sport, Length: 29216, dtype: object

In [44]:
# Boolean indexing
df[['City','Sport']][df['City']=='Beijing']

          City      Sport
27174  Beijing   Aquatics
27175  Beijing   Aquatics
27176  Beijing   Aquatics
27177  Beijing   Aquatics
27178  Beijing   Aquatics
...        ...        ...
29211  Beijing  Wrestling
29212  Beijing  Wrestling
29213  Beijing  Wrestling
29214  Beijing  Wrestling
29215  Beijing  Wrestling

[2042 rows x 2 columns]

In [46]:
# String handling with series
df[df['City'].str.startswith('Bei')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
27174,Beijing,2008,Aquatics,Diving,"GALPERIN, Gleb",RUS,Men,10m platform,M,Bronze
27175,Beijing,2008,Aquatics,Diving,"MITCHAM, Matthew",AUS,Men,10m platform,M,Gold
27176,Beijing,2008,Aquatics,Diving,"ZHOU, Luxin",CHN,Men,10m platform,M,Silver
27177,Beijing,2008,Aquatics,Diving,"WANG, Xin",CHN,Women,10m platform,W,Bronze
27178,Beijing,2008,Aquatics,Diving,"CHEN, Ruolin",CHN,Women,10m platform,W,Gold
...,...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [59]:
# Index

df.index[1]

1

In [68]:
new_df=df.set_index('City')
new_df

,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
City,,,,,,,,,
Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...
Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [91]:
# loc[row label/s,col label/s]   more info ... shift+tab
new_df.loc['Athens']
new_df

,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
City,,,,,,,,,
Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...
Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

In [92]:
# iloc : Gives rows by integer bases indexing
new_df.iloc[0]

Edition                   1896
Sport                 Aquatics
Discipline            Swimming
Athlete          HAJOS, Alfred
NOC                        HUN
Gender                     Men
Event           100m freestyle
Event_gender                 M
Medal                     Gold
Name: Athens, dtype: object

In [95]:
# Groupby

gender_group_by= new_df.groupby('Gender')
for i,j in gender_group_by:
    print(type(i))
    print(type(j))

<class 'str'>
<class 'pandas.core.frame.DataFrame'>
<class 'str'>
<class 'pandas.core.frame.DataFrame'>

In [106]:
res = df.groupby('Gender')
for i,j in res:
    print(i)
    print(j)

Men
          City  Edition      Sport       Discipline               Athlete  \
0       Athens     1896   Aquatics         Swimming         HAJOS, Alfred
1       Athens     1896   Aquatics         Swimming      HERSCHMANN, Otto
2       Athens     1896   Aquatics         Swimming     DRIVAS, Dimitrios
3       Athens     1896   Aquatics         Swimming    MALOKINIS, Ioannis
4       Athens     1896   Aquatics         Swimming    CHASAPIS, Spiridon
...        ...      ...        ...              ...                   ...
29211  Beijing     2008  Wrestling  Wrestling Gre-R        ENGLICH, Mirko
29212  Beijing     2008  Wrestling  Wrestling Gre-R  MIZGAITIS, Mindaugas
29213  Beijing     2008  Wrestling  Wrestling Gre-R       PATRIKEEV, Yuri
29214  Beijing     2008  Wrestling  Wrestling Gre-R         LOPEZ, Mijain
29215  Beijing     2008  Wrestling  Wrestling Gre-R        BAROEV, Khasan

       NOC Gender                       Event Event_gender   Medal
0      HUN    Men              100m freestyle            M    Gold
1      AUT    Men              100m freestyle            M  Silver
2      GRE    Men  100m freestyle for sailors            M  Bronze
3      GRE    Men  100m freestyle for sailors            M    Gold
4      GRE    Men  100m freestyle for sailors            M  Silver
...    ...    ...                         ...          ...     ...
29211  GER    Men                   84 - 96kg            M  Silver
29212  LTU    Men                  96 - 120kg            M  Bronze
29213  ARM    Men                  96 - 120kg            M  Bronze
29214  CUB    Men                  96 - 120kg            M    Gold
29215  RUS    Men                  96 - 120kg            M  Silver

[21721 rows x 10 columns]
Women
          City  Edition      Sport       Discipline                Athlete  \
416      Paris     1900       Golf             Golf           PRATT, Daria
417      Paris     1900       Golf             Golf  ABBOTT, Margaret Ives
418      Paris     1900       Golf             Golf      WHITTIER, Pauline
639      Paris     1900     Tennis           Tennis          JONES, Marion
640      Paris     1900     Tennis           Tennis      ROSENBAUM, Hedwig
...        ...      ...        ...              ...                    ...
29164  Beijing     2008  Wrestling  Wrestling Free.      KARTASHOVA, Alena
29169  Beijing     2008  Wrestling  Wrestling Free.       HAMAGUCHI, Kyoko
29170  Beijing     2008  Wrestling  Wrestling Free.   WIESZCZEK, Agnieszka
29171  Beijing     2008  Wrestling  Wrestling Free.             WANG, Jiao
29172  Beijing     2008  Wrestling  Wrestling Free.        ZLATEVA, Stanka

       NOC Gender          Event Event_gender   Medal
416    USA  Women     individual            W  Bronze
417    USA  Women     individual            W    Gold
418    USA  Women     individual            W  Silver
639    ZZX  Women  mixed doubles            X  Bronze
640    ZZX  Women  mixed doubles            X  Bronze
...    ...    ...            ...          ...     ...
29164  RUS  Women      55 - 63kg            W  Silver
29169  JPN  Women      63 - 72kg            W  Bronze
29170  POL  Women      63 - 72kg            W  Bronze
29171  CHN  Women      63 - 72kg            W    Gold
29172  BUL  Women      63 - 72kg            W  Silver

[7495 rows x 10 columns]

In [107]:
res.agg(['count'])

,City,Edition,Sport,Discipline,Athlete,NOC,Event,Event_gender,Medal
,count,count,count,count,count,count,count,count,count
Gender,,,,,,,,,
Men,21721,21721,21721,21721,21721,21721,21721,21721,21721
Women,7495,7495,7495,7495,7495,7495,7495,7495,7495